/*
	HERO ROW 
*/
.heroRow{
	position:absolute;
	height: 100%;
	width:	100%;
	margin-left: 0;
	overflow:hidden;
}

.heroRow .hero{
	position:absolute;
	width: 25%;
	margin: 0;
	height: 100%;
	float: left;
}

.heroRow .hero:hover{
	cursor: pointer;
}

.heroRow .hero:first-child{
	left: 0%;
	background:url('/img/detailed/1.png') no-repeat 50% 50%;
	background-size: auto 100%;
}
.heroRow .hero:nth-child(2){
	left: 25%;
	background:url('/img/detailed/2.png') no-repeat 50% 50%;
	background-size: auto 100%;
}
.heroRow .hero:nth-child(3){
	left: 50%;
	background:url('/img/detailed/3.png') no-repeat 50% 50%;
	background-size: auto 100%;
}
.heroRow .hero:nth-child(4){
	left: 75%;
	background:url('/img/detailed/4.png') no-repeat 50% 50%;
	background-size: auto 100%;
}


/*
	LOGIN BUTTONS
*/

.login-buttons-dropdown-align-right#login-buttons + li .dropdown-menu {
	left: 0;
	right:0;
}
.dropdown-menu{
	top:0;
}