.gameRoomContainer{
  position: relative;
  height: auto;
  min-height: 100%;
  width: 100%;
}

.gameRoomContainer .headerDataContainer{
  position: relative;
  width: 80%;
  height: 140px;
  margin: 20px auto;
}

.gameRoomContainer .headerDataContainer .headerText,
.gameRoomContainer .headerDataContainer .createGameContainer{
  position: relative;
  width: 100%;
  float: left;
}
.gameRoomContainer .headerDataContainer .headerText{
  height: 65%;
  text-align: center;
  line-height: 91px;
}
.gameRoomContainer .headerDataContainer .headerText > span{
  font-size: 40px;
  font-weight: bold;
  font-family:Arial;
  padding: 10px 60px;
  border: 3px solid #ffffff;

  color:#ffffff;
  background: #333333; /* Old browsers */
  background: -moz-linear-gradient(top,  #333333 0%, #646464 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#646464)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #333333 0%,#646464 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #333333 0%,#646464 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #333333 0%,#646464 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #333333 0%,#646464 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#646464',GradientType=0 ); /* IE6-9 */
}

.gameRoomContainer .headerDataContainer .createGameContainer{
  height: 35%;
}

.gameRoomContainer .headerDataContainer .createGameContainer .createGameAgainstPlayer{
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
  line-height: 49px;
  text-align: center;

  background:-o-linear-gradient(bottom, #f68642 5%, #bf5f00 100%);    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f68642), color-stop(1, #bf5f00) );
  background:-moz-linear-gradient( center top, #f68642 5%, #bf5f00 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f68642", endColorstr="#bf5f00");  background: -o-linear-gradient(top,#f68642,bf5f00);
  background-color:#f68642;
  text-indent:0;
  border:1px solid #eeb44f;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  font-style:normal;
  text-decoration:none;

  cursor: pointer;
}
.gameRoomContainer .headerDataContainer .createGameContainer .createGameAgainstPlayer:hover,
.gameRoomContainer .headerDataContainer .createGameContainer .createGameAgainstKi .kiSteps:hover{
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #f68742) );
  background:-moz-linear-gradient( center top, #fb9e25 5%, #f68742 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#f68742');
  background-color:#fb9e25;
}

.gameRoomContainer .headerDataContainer .createGameContainer .createGameAgainstKi{
  position: relative;
  width: 50%;
  height: 100%;
  float: left;
  line-height: 49px;
  text-align: center;

}

.gameRoomContainer .headerDataContainer .createGameContainer .createGameAgainstKi .kiSteps{
  position: relative;
  width: calc(100% / 3);

  height: 100%;
  float: left;
  line-height: 49px;
  text-align: center;

  background:-o-linear-gradient(bottom, #f68642 5%, #bf5f00 100%);    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f68642), color-stop(1, #bf5f00) );
  background:-moz-linear-gradient( center top, #f68642 5%, #bf5f00 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f68642", endColorstr="#bf5f00");  background: -o-linear-gradient(top,#f68642,bf5f00);
  background-color:#f68642;
  text-indent:0;
  border:1px solid #eeb44f;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  font-style:normal;
  text-decoration:none;

  cursor: pointer;
}

.gameRoomContainer .openGameRoomsContainer{
  position: relative;
  width: 80%;
  height: auto;
  min-height: 160px;
  margin: 20px auto;
  border: 2px solid #ffffff;
}

.gameRoomContainer .openGameRoomsContainer .openGameRoomsContainerTextWrapper{
  position: relative;
  max-width: calc(100% / 6);
  min-width: calc(100% / 6);
  max-height: 158px;
  min-height: 158px;
  border-right: 2px solid #ffffff;
  float: left;
  overflow: hidden;
}

.gameRoomContainer .openGameRoomsContainer .openGameRoomsContainerText{
  position: relative;
  width: 100%;
  display: table;

  background: #333333; /* Old browsers */
  background: -moz-linear-gradient(top,  #333333 0%, #646464 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#646464)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #333333 0%,#646464 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #333333 0%,#646464 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #333333 0%,#646464 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #333333 0%,#646464 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#646464',GradientType=0 ); /* IE6-9 */
}

.gameRoomContainer .openGameRoomsContainer .openGameRoomsContainerText .openGameRoomsCreator,
.gameRoomContainer .openGameRoomsContainer .openGameRoomsContainerText .openGameRoomsJoin{
  position: relative;
  width: 100%;
  height: 74px;
}

.gameRoomContainer .openGameRoomsContainer .openGameRoomsContainerText .openGameRoomsCreator{
  display: table-row;
  line-height: 80px;
  text-align: center;
}
.gameRoomContainer .openGameRoomsContainer .openGameRoomsContainerText .openGameRoomsCreator > div > span{
  font-family:Arial;
  font-weight: bold;
  font-size: 20px;
  color:#ffffff;
}

.gameRoomContainer .openGameRoomsContainer .openGameRoomsContainerText .openGameRoomsJoin{
  display: table;
}
.gameRoomContainer .openGameRoomsContainer .openGameRoomsContainerText .openGameRoomsJoin > div{
  position: relative;
  display: table-cell;
  vertical-align: bottom;
  text-align: center;
}
.gameRoomContainer .openGameRoomsContainer .openGameRoomsContainerText .openGameRoomsJoin > div > div{
  background:-o-linear-gradient(bottom, #f68642 5%, #bf5f00 100%);    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f68642), color-stop(1, #bf5f00) );
  background:-moz-linear-gradient( center top, #f68642 5%, #bf5f00 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#f68642", endColorstr="#bf5f00");  background: -o-linear-gradient(top,#f68642,bf5f00);
  background-color:#f68642;
  text-indent:0;
  border:1px solid #eeb44f;
  display:inline-block;
  color:#ffffff;
  font-family:Arial;
  font-size:20px;
  font-weight:bold;
  font-style:normal;
  height:35px;
  line-height:35px;
  width:101%;
  text-decoration:none;
  text-align:center;

  position: relative;
  cursor: pointer;
}

.gameRoomContainer .openGameRoomsContainer .openGameRoomsContainerText .openGameRoomsJoin > div > div:hover{
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #f68742) );
  background:-moz-linear-gradient( center top, #fb9e25 5%, #f68742 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#f68742');
  background-color:#fb9e25;
}

.gameRoomContainer .openGameRoomsContainer .openGameRoomsCrewContainer{
  position: relative;
  width: calc(100% / 6 * 5);
  min-height: 160px;
  float: left;
}

.gameRoomContainer .openGameRoomsContainer .openGameRoomsCrewContainer .crewMemberImageContainer{
  position: relative;
  width: calc(100% / 5);
  min-height: 156px;
  border-right: 1px solid #ffffff;
  float: left;

  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 50%;
}

.gameRoomContainer .openGameRoomsContainer .openGameRoomsCrewContainer .crewMemberImageContainer .crewMemberName{
  position: absolute;
  width: 100%;
  bottom: 0;
  word-break: break-all;
  background: #333333; /* Old browsers */
  background: -moz-linear-gradient(top,  #333333 0%, #646464 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#333333), color-stop(100%,#646464)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #333333 0%,#646464 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #333333 0%,#646464 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #333333 0%,#646464 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #333333 0%,#646464 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#646464',GradientType=0 ); /* IE6-9 */

  border:0px solid #000000;
  text-align:center;
  font-size:20px;
  font-family:Arial;
  font-weight:bold;
  color:#ffffff;
}