#end-game{
  position: absolute;
  top: 200px;
  left: 500px;
  font-size: 50px;
  text-shadow: 2px 2px black;
  font-style: italic;
  text-align: center;
  font-family: Baskerville;
}
.fixed {
  position: fixed;
  top: 0;
  right:0;
  width:165px;
}
.defeat{
  color: red;
}

.victory{
  color: green;
}

#finish-game{
  cursor: pointer;
  font-size: 25px;
}
