#end-game{
  position: absolute;
  top: 30%;
  left: 40%;
  font-size: 300%;
  border: 1px solid;
  padding: 40px;
  font-style: italic;
  text-align: center;
}
.fixed {
  position: fixed;
  top: 0;
  right:0;
  width:165px;
}
.defeat{
  color: red;
}

.victory{
  color: green;
}

#finish-game{
  cursor: pointer;
}
