.item {
  cursor: pointer;
}


.middleList {
  position:absolute;
  width:250px;
  border:none;
  box-shadow: none;
  padding:5px;
}

.parentList {
  position:static;

}

.middleList>ul>li {
 padding:2px;
}

.selectBar {
  visibility: hidden;
  position:absolute;
  width:200px;
}