.item {
  cursor: pointer;
}


.middleList {
  position:absolute;
  width:250px;
  border:none;
  box-shadow: none;
  padding:5px;
}
.outerList {
  padding:6px;
  margin:2px;
}


.parentList {
  position:static;
  padding:6px;
}

.middleList>ul>li {
 padding:1px;
 font-size:12px;
}

.selectBar {
  visibility: hidden;
  position:absolute;
  width:200px;
}