.outerContainer .containerLeft{
	width: 60%; 
	height: inherit; 
	float: left;
	background-color: #706744;
}

.outerContainer .containerLeft .selectedContainer{
	width: 100%;
	height: inherit;
	padding: 20px 90px;
}

.outerContainer .containerLeft .selectedContainer .innerContainer{
	height: 85%;
}

.outerContainer .containerLeft .selectedContainer .selectedHeroContainer{
	float:left;
	margin: 10px;
	width: 40%;
	height: 50%;
}

.outerContainer .containerLeft .selectedContainer .selectedHeroContainer .selectedHero{
	height: 100%;
}


.outerContainer .containerLeft .selectedContainer .selectedCrewMember{
	position:relative;
	width: 15%;
	height: 23%;
	float: left;
	margin: 10px;
}

.outerContainer .containerLeft .selectedContainer .selectedCrewMember .removeCrewMember{
	position: absolute;
  top: -4px;
  right: 0px;
  color: red;
  cursor:pointer;
}

.outerContainer .containerRight{
	width: 40%;
	height: inherit;
	float: left;
	background-color: #333;
	overflow: hidden;
}

.outerContainer .containerRight .containerCrewMember{
	width: 90%;
	height: inherit;
	margin: 0px auto;
	padding: 20px 0px;
}

.outerContainer .containerRight .containerCrewMember .crewMember{
	height: 22%;
	background-color: lightgoldenrodyellow;
}
.outerContainer .containerRight .containerCrewMember .crewMember:not(:first-of-type){
	margin-top: 4%;
}

.outerContainer .containerRight .containerCrewMember .crewMember .crewMemberData{
	width: 70%;
	height: 100%;
	float: left;
	position: relative;
	overflow: hidden;
	padding-right: 10px
}


.outerContainer .containerRight .containerCrewMember .crewMember .crewMemberData .table{
	width: 50%; 
	height: 100%; 
	float: left;
	margin-bottom: 0;
}

.outerContainer .containerRight .containerCrewMember .crewMember .crewMemberData .table th:first-child{
	border-top: 0px;
}
.outerContainer .containerRight .containerCrewMember .crewMember .crewMemberData .table:first-child tr:not(:first-child){
	border-right: 1px solid #dddddd;
}
.outerContainer .containerRight .containerCrewMember .crewMember .crewMemberData .table th{
	text-align: center;
	vertical-align: middle;
}

.outerContainer .containerRight .containerCrewMember .crewMember .crewMemberAvatar{
	width: 30%;
	height: 100%;
	float: right;
	background:url('/img/detailed/2.png') no-repeat 50% 50%;
	background-size: auto 100%;
}


.btnReady{
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 5px 15px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	float: right;
	border-radius: 50px;
	border: 2px solid lightgoldenrodyellow;
	color: lightgoldenrodyellow;
	overflow: hidden;

}

.btnReady:focus{
	color: lightgoldenrodyellow;
}

.btnReady:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btnReady:before,
{
	position: absolute;
	height: 100%;
	font-size: 125%;
	line-height: 3.5;
	color: lightgoldenrodyellow;
	left: 70%;
	opacity: 0;
	top: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}


.btnReady:active {
	border-color: #17954c;
	color: #17954c;
}

.btnReady:hover {
	background: #24b662;
}

.btnReady:active:before {
	color: #17954c;
}

.btnReady:hover:before {
	left: 80%;
	opacity: 1;
}